<div>
  <span>Example of video claim URI</span>
  <ul>
    <li>dev-c++-2018:e</li>
    <li>How-to-Live-ENTIRELY-on-Crypto</li>
    <li>or find more example by visiting <a href="https://odysee.com" target="_blank">odysee.com</a></li>
  </ul>
  <label for="uri">Type a valid video claim URI: </label><br>
  <input #uri type="text" placeholder="Example: 'dev-c++-2018:e'">
  <button (click)="resolveUriAndSetStreamSrc(uri.value)">Stream Video</button>
</div>
<div>
  <video *ngIf="streamUrl" src="{{ streamUrl }}" controls>
    Your Browser Dosen't Support HTML5 Video. Please Upgrade...
  </video>
</div>
