<div>
  <h2>1) Play a video directly via URI</h2>
  <span>Example of video claim URI</span>
  <ul>
    <li>dev-c++-2018:e</li>
    <li>How-to-Live-ENTIRELY-on-Crypto</li>
    <li>or find more example by visiting <a href="https://odysee.com" target="_blank">odysee.com</a></li>
  </ul>
  <label for="uri">Type a valid video claim URI: </label><br>
  <input #uri type="text" placeholder="Example: 'dev-c++-2018:e'">
  <button (click)="resolveUriAndSetStreamSrc(uri.value)">Stream Video</button>
</div>

<hr>

<div>
  <h2>2) Or Select from the most recent videos below:</h2>
  <div class="flex-container">
    <div *ngFor="let thumbnail of thumbnails; let i = index">
      <img src={{thumbnail}}
        alt="video thumbnail"
        (click)="onSelectVideo(i)">
    </div>
  </div>
</div>

<hr>

<div>
  <h2>3) Video Player </h2>
  <video *ngIf="streamUrl" src="{{ streamUrl }}" controls>
    Your Browser Dosen't Support HTML5 Video. Please Upgrade...
  </video>
</div>
